html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#background {
    /* background: #000000 url('bg.png') no-repeat bottom left; */
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    height: auto !important;
    min-height: 100%;
}
